

<div class="container pb-5">

	<div class="row pt-5 pb-5">
		<div class="col-lg-6">
			<img src="/assets/img/404.png">
		</div>
		<div class="col-lg-6">
			<h1 class="pt-5 pb-5">Ошибка 404</h1>
			
			<div class="text">
				<p>К сожалению, запрашиваемая Вами страница не найдена на сайте нашей компании.</p>

				<p>Мы приносим свои извинения за доставленные неудобства и предлагаем следующие пути:</p>
				<ul>
					<li>перейти на <a href="/">главную страницу</a>;</li>
					<li>связаться с нами по телефону 8 (800) 222-69-36;</li>
					<li>написать письмо <a href="/">нашим сотрудникам</a>.</li>
				</ul>
			</div>

		</div>
	</div>
	
</div>

<div class="bg-gray pt-5 pb-5">
	<div class="container">
	{{> last-seen }} 
	</div>
</div>