{{> breadcrumbs }} 

<div class="container pb-5">


	<h1 class="pt-5 pb-5">Корзина</h1>

	
	<div class="cart-header d-none d-md-block">
			<div class="row">
				<div class="col-md-5 col-sm-5 text-center">Товары</div>
				<div class="col-md-3 col-sm-3 text-center">Количество</div>
				<div class="col-md-3 col-sm-3">Сумма</div>
				<div class="col-md-1 col-sm-1">&nbsp;</div>
			</div>
		</div>
	
	<div class="cart-item">
		<div class="row">
				<div class="col-md-5 ">
					<div class="row">
						<div class="col-md-4 text-md-center">
							<a href="#" class="d-block "><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000002233.jpg"></a>
						</div>
						<div class="col-md-8 ">
							<div class="title pb-2"><a href="#">Распределитель вспомогательного оборудования</a></div>
							<div class="product-item-artnum pb-2">Артикул: 01148677 <br/>Бренд: DEUTZ</div>
							<span class="avaliable">в наличие</span>
						</div>
					</div>
				</div>
				<div class="col-md-3  ">
					
					<div class="d-flex align-items-center justify-content-md-center">
					<div class="d-inline-block pr-2 pt-3 pt-md-0">
					<div class="counter_big_box">
						<button type="button" class="counter_big_ctrl minus">-</button>
						<input type="text" class="counter_big_input counter_input" value="1" data-min="1" data-max="99"> <!-- disabled if unavailable !-->
						<button type="button" class="counter_big_ctrl plus">+</button>
					</div>
					</div>
					<small>(шт)</small>
					</div>
				</div>
                <div class="col-md-3 pt-3 pt-md-0"><span class="price">114 300,00</span></div>
				<div class="col-md-1 "><a class="cart-item-drop" href="#"><i class="fal fa-trash-alt"></i></a></div>
			</div>
	</div>
	
	<div class="cart-item">
			<div class="row">
				<div class="col-md-5 ">
					<div class="row">
						<div class="col-md-4 text-md-center">
							<a href="#" class="d-block "><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000000032.jpg"></a>
						</div>
						<div class="col-md-8 ">
							<div class="title pb-2"><a href="#">Масло гидравлическое JCB HP46 (25л)</a></div>
							<div class="product-item-artnum pb-2">Артикул: 01148677 <br/>Бренд: DEUTZ</div>
							<span class="avaliable">в наличие</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-md-center">
					
					<div class="d-flex align-items-center justify-content-md-center">
					<div class="d-inline-block pr-2 pt-3 pt-md-0">
					<div class="counter_big_box">
						<button type="button" class="counter_big_ctrl minus">-</button>
						<input type="text" class="counter_big_input counter_input" value="1" data-min="1" data-max="99"> <!-- disabled if unavailable !-->
						<button type="button" class="counter_big_ctrl plus">+</button>
					</div>
					</div>
					<small>(л)</small>
					</div>
					
				</div>
                <div class="col-md-3 pt-3 pt-md-0"><span class="price">280,00</span></div>
				<div class="col-md-1 "><a class="cart-item-drop" href="#"><i class="fal fa-trash-alt"></i></a></div>
			</div>
	</div>
	
	<div class="cart-item">
			<div class="row">
				<div class="col-md-5 ">
					<div class="row">
						<div class="col-md-4 text-md-center">
							<a href="#" class="d-block "><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000003222.jpg"></a>
						</div>
						<div class="col-md-8 ">
							<div class="title pb-2"><a href="#">Гидрораспределитель</a></div>
							<div class="product-item-artnum pb-2">Артикул: 01148677 <br/>Бренд: DEUTZ</div>
							<span class="order-only">на заказ 4-60 дн</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-md-center">
					
					<div class="d-flex align-items-center justify-content-md-center">
					<div class="d-inline-block pr-2 pt-3 pt-md-0">
					<div class="counter_big_box">
						<button type="button" class="counter_big_ctrl minus">-</button>
						<input type="text" class="counter_big_input counter_input" value="1" data-min="1" data-max="99"> <!-- disabled if unavailable !-->
						<button type="button" class="counter_big_ctrl plus">+</button>
					</div>
					</div>
					<small>(шт)</small>
					</div>
					
				</div>
                <div class="col-md-3 pt-3 pt-md-0"><div data-fancybox data-src="#get-price-modal" data-title="Узнать цену 01148677" class="get-price">Узнать цену</div></div>
				<div class="col-md-1 "><a class="cart-item-drop" href="#"><i class="fal fa-trash-alt"></i></a></div>
			</div>
	</div>
	
	<div class="row pb-5 pt-4 cart-total align-items-center">
		<div class="col-lg-4 text-right text-lg-left pb-4 pb-lg-0">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input check-order" id="customCheck" name="example1">
				<label class="custom-control-label" for="customCheck">Проверить мой заказ <i class="fas fa-question-circle"></i></label>
			  </div>
			 <div class="vin d-none"></div> 
			 <div class="d-none">
				<div id="check-order">
					<div class="h2 pb-3">Проверить мой заказ</div>
					<p>Требуется дополнительная консультация специалиста? Мы свяжемся с вами для проверки корректной применяемости выбранных запчастей для вашей техники!</p>
					<p>Введите или выберите VIN:</p>
					<div class="form-group">
						<input type="text" name="vin" class="form-control" placeholder="jcb426z0h01232463" required>
					</div>
					<ul class="vin-list pb-3">
						<li>2131123213</li>
						<li>sdfds2342342</li>
						<li>Zsdsad3242343</li>
					</ul>
					<div class="row pt-3">
						<div class="col-md-6"><button class="btn btn-default w-100 check-order-confirm">Проверить</button></div>
						<div class="col-md-6"><button class="btn btn-default gray w-100 check-order-cancel">Отмена</button></div>
					</div>
				</div>
			 </div>
		</div>
		<div class="col-lg-8">
			<div class="row align-items-center">
				<div class="col-md-7 text-right pb-4 pb-md-0"><span>К оплате:</span> <span class="price">1 123 000,00</span></div>
				<div class="col-md-5 text-right"><a href="checkout.html" class="btn btn-default btn-lg">Оформить заказ</a></div>
			</div>
		</div>
	</div>
</div>

<div class="bg-gray pt-5 pb-5">
	<div class="container">
	{{> last-seen }} 
	</div>
</div>