{{> breadcrumbs }} 

<div class="page-wrapper ">

	<div class="container ">
		<div class="row  sidebar-page-content">
			<div class="col-lg-9 pb-5 bg-white">
				<h1 class="pt-5 pb-3">Каталог</h1>
				
				<div class="filter-open d-lg-none"><i class="fas fa-filter"></i> Фильтр</div>
				
				<div class="text-right pb-3 d-none d-lg-block">
					<i data-type="list-view" data-change="grid-view" class="change-view fas fa-th-large active"></i>
					<i data-type="grid-view" data-change="list-view" class="change-view fas fa-th-list"></i>
				</div>
				
				<div class="row product-items">
					
					
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					<div class="col-xl-4 col-lg-6 mb-4 grid-view">{{> product-item }}</div>
					
				</div>
				
				<div class="text-center pb-5"><a class="btn btn-load-more"><b>Загрузить еще</b><span class="lds-ellipsis"><span></span><span></span><span></span><span></span></span></a></div>
				
				
				
				<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				
				
				{{> last-seen }}
				
			</div>
			<div class="col-lg-3" id="sidebar">
				
				<div class="filter-wrapper">
				
				<div class="text-right filter-close d-lg-none"><i class="fas fa-times"></i></div>
				
				<div class="filter-item" id="filter-cat">
					<div class="filter-item-title">Категории</div>		
					<div class="filter-all">
						<div class="filter-all-wrapper">
							<ul class="filter-menu">
								<li>Двигатели
									<ul>
										<li><a href="#">Блоки цилиндров</a></li>
										<li><a href="#">Гильзо-погршневые группы</a></li>
										<li>Головки блока</li>
										<li><a href="#">Двигатели в сборе</a></li>
										<li><a href="#">Коленчатые валы</a></li>
										<li><a href="#">Турбокомпрессоры</a></li>
										<li><a href="#">Натяжители и приводные ремни</a></li>
										<li><a href="#">Система охлаждения</a></li>
										<li><a href="#">Впускная и выпускная системы</a></li>
										<li><a href="#">Навесное оборудование двигателя</a></li>
										<li><a href="#">Система смазки</a></li>
										<li><a href="#">Теплообменники</a></li>
										<li><a href="#">Теплообменники</a></li>
										<li><a href="#">Топливная аппаратура</a></li>
										<li><a href="#">Компрессоры воздушные</a></li>
										<li><a href="#">Маховики и сцепление</a></li>
									</ul>
								</li>
								<li><a href="#">Гидравлика</a></li>
								<li><a href="#">Кузов</a></li>
								<li><a href="#">Механизм поворота</a></li>
								<li><a href="#">Пальцы и втулки</a></li>
								<li><a href="#">Ремкомплекты</a></li>
								<li><a href="#">Смазочные материалы</a></li>
							</ul>
						</div>
					</div>	
				</div>
				
				<div class="filter-item" id="filter-model">
					<div class="filter-item-title">Цена, руб.</div>
					<div class="row">
						<div class="col-6 filter-price"><span>от</span><input class="filter-price-input" type="text"></div>
						<div class="col-6 filter-price"><span>до</span><input class="filter-price-input" type="text"></div>
					</div>
				</div>
				
				<div class="filter-item" id="filter-model">
					<div class="filter-item-title">Модель техники</div>
					<div class="filter-popular">	
						<a class="filter-link" >3CX</a>
						<a class="filter-link" >4CX</a>
						<a class="filter-link" >JS220</a>
						<a class="filter-link" >JS205</a>
						<a class="filter-link" >457</a>
					</div>
					<div class="filter-all d-none">
						<input type="text" class="filter-search" placeholder="Поиск по модели техники">
						<div class="filter-all-wrapper">
							<a class="filter-link" >3CX</a>
							<a class="filter-link" >4CX</a>
							<a class="filter-link" >JS220</a>
							<a class="filter-link" >JS205</a>
							<a class="filter-link" >457</a>
						</div>
					</div>	
					<div class="filter-show-all">Показать все</div>
					<div class="filter-hide-all d-none">Свернуть</div>
				</div>
				
				<div class="filter-item d-none" id="filter-model-mod">
					<div class="filter-item-title">Модификация</div>
					<div class="filter-popular">	
						<a class="filter-link" >3CX-T</a>
						<a class="filter-link" >3CX-4WS-T</a>
						<a class="filter-link" >3CXSM 4T</a>
						<a class="filter-link" >3CX-4WS</a>
						<a class="filter-link" >3CXS14M2NM</a>
					</div>
					<div class="filter-all d-none">
						<input type="text" class="filter-search" placeholder="Поиск по модели техники">
						<div class="filter-all-wrapper">
							<a class="filter-link" >3CX-T</a>
							<a class="filter-link" >3CX-4WS-T</a>
							<a class="filter-link" >3CXSM 4T</a>
							<a class="filter-link" >3CX-4WS</a>
							<a class="filter-link" >3CXS14M2NM</a>
						</div>
					</div>	
					<div class="filter-show-all">Показать все</div>
					<div class="filter-hide-all d-none">Свернуть</div>
				</div>
				
				<div class="filter-item" id="filter-brand">
					<div class="filter-item-title">Бренд</div>
					<div class="filter-popular">	
						<a class="filter-link checked" href="#">JCB</a>
						<a class="filter-link" href="#">Sennebogen</a>
						<a class="filter-link" href="#">Terex</a>
						<a class="filter-link" href="#">Gomaco</a>
						<a class="filter-link" href="#">Powerscreen</a>
					</div>
					<div class="filter-all d-none">
						<input type="text" class="filter-search" placeholder="Поиск по бренду">
						<div class="filter-all-wrapper">
							<a class="filter-link" href="#">JCB</a>
							<a class="filter-link" href="#">SENNEBOGEN</a>
							<a class="filter-link" href="#">POWERSCREEN</a>
							<a class="filter-link" href="#">Gomaco</a>
							<a class="filter-link" href="#">Deutz</a>
							<a class="filter-link" href="#">ISUZU</a>
							<a class="filter-link" href="#">Cummins</a>
							<a class="filter-link" href="#">TEREX-DEMAG</a>
							<a class="filter-link" href="#">Hyundai</a>
							<a class="filter-link" href="#">VOLVO</a>
							<a class="filter-link" href="#">Hitachi</a>
							<a class="filter-link" href="#">Caterpillar</a>
							<a class="filter-link" href="#">KOMATSU</a>
							<a class="filter-link" href="#">DOOSAN</a>
							<a class="filter-link" href="#">FUCHS+ATLAS</a>
							<a class="filter-link" href="#">RM-TEREX</a>
							<a class="filter-link" href="#">PERKINS</a>
							<a class="filter-link" href="#">GROVE</a>
							<a class="filter-link" href="#">HARTL</a>
							<a class="filter-link" href="#">Shantui</a>
							<a class="filter-link" href="#">Case</a>
							<a class="filter-link" href="#">BELL</a>
							<a class="filter-link" href="#">UMG</a>
							<a class="filter-link" href="#">NEW HOLLAND</a>
							<a class="filter-link" href="#">MCCLOSKEY</a>
							<a class="filter-link" href="#">SANDVIK</a>
							<a class="filter-link" href="#">TEREX-FINLAY</a>
						</div>
					</div>	
					<div class="filter-show-all">Показать все</div>
					<div class="filter-hide-all d-none">Свернуть</div>
				</div>
				
				<div class="filter-item" id="filter-type">
					<div class="filter-item-title">Тип техники</div>
					<div class="filter-popular">	
						<a class="filter-link checked" href="#">Эскаваторы-погрузчики</a>
						<a class="filter-link" href="#">Гусеничные экскаваторы</a>
						<a class="filter-link" href="#">Колесные экаскаваторы</a>
						<a class="filter-link" href="#">Мини-экскваторы</a>
						<a class="filter-link" href="#">Телескопические погрузчики</a>
					</div>
					<div class="filter-all d-none">
						<input type="text" class="filter-search" placeholder="Поиск по типу техники">
						<div class="filter-all-wrapper">
							<a class="filter-link" href="#">Автобетононасосы</a>
							<a class="filter-link" href="#">Автогрейдеры</a>
							<a class="filter-link" href="#">Асфальтоукладчики</a>
							<a class="filter-link" href="#">Бетоноукладчики</a>
							<a class="filter-link" href="#">Бульдозеры</a>
							<a class="filter-link" href="#">Грохоты</a>
							<a class="filter-link" href="#">Двигатель</a>
							<a class="filter-link" href="#">Дизельные генераторы</a>
							<a class="filter-link" href="#">Дизельные компрессоры</a>
							<a class="filter-link" href="#">Дробилки конусные</a>
							<a class="filter-link" href="#">Дробилки роторные</a>
							<a class="filter-link" href="#">Дробилки щековые</a>
							<a class="filter-link" href="#">Катки асфальтовые</a>
							<a class="filter-link" href="#">Катки грунтовые</a>
							<a class="filter-link" href="#">Краны автомобильные</a>
							<a class="filter-link" href="#">Краны внедорожные короткобазные</a>
							<a class="filter-link" href="#">Краны вседорожные гидравлические</a>
							<a class="filter-link" href="#">Краны гусеничные</a>
							<a class="filter-link" href="#">Краны колесные</a>
							<a class="filter-link" href="#">Краны портовые</a>
							<a class="filter-link" href="#">Краны экскаваторы (Драглайны )</a>
							<a class="filter-link" href="#">Лесозаготовительные машины</a>
							<a class="filter-link" href="#">Мини-погрузчики гусеничные</a>
							<a class="filter-link" href="#">Мини-погрузчики колесные</a>
							<a class="filter-link" href="#">Мини-экскаваторы гусеничные</a>
							<a class="filter-link" href="#">Общее. Товары (Запчасти)</a>
							<a class="filter-link" href="#">Перегружатели</a>
							<a class="filter-link" href="#">Погрузчики вилочные высокой проходимости</a>
							<a class="filter-link" href="#">Погрузчики вилочные промышленные</a>
							<a class="filter-link" href="#">Погрузчики телескопические</a>
							<a class="filter-link" href="#">Погрузчики фронтальные</a>
							<a class="filter-link" href="#">Промывочное оборудование</a>
							<a class="filter-link" href="#">Профилировщики</a>
							<a class="filter-link" href="#">Самосвалы шарнирно-сочлененные</a>
							<a class="filter-link" href="#">Текстурировщики</a>
							<a class="filter-link" href="#">Тракторы (фастраки)</a>
							<a class="filter-link" href="#">Узлы и агрегаты</a>
							<a class="filter-link" href="#">Финишеры</a>
							<a class="filter-link" href="#">Харвестеры</a>
							<a class="filter-link" href="#">Экскаваторы гусеничные</a>
							<a class="filter-link" href="#">Экскаваторы колесные</a>
							<a class="filter-link" href="#">Экскаваторы-погрузчики</a>
							<a class="filter-link" href="#">Элеваторы и конвейеры</a>
						</div>
					</div>	
					<div class="filter-show-all">Показать все</div>
					<div class="filter-hide-all d-none">Свернуть</div>
				</div>

				<div class="text-center pt-3 pb-3"><a class="btn btn-reset">Сбросить фильтр</a></div>
				
				</div>
				</div>
			
				
			</div>
		</div>
	</div>



