{{> breadcrumbs }} 

<div class="container pb-5">


	<h1 class="pt-5 pb-5">Оформление заказа</h1>
	
	<div class="row">
		<div class="col-lg-7 col-xl-8">
			
			<div class="checkput-option pb-5 mb-2">
				<div class="h2 pb-4">Способ получения</div>
				
				<div class="d-flex">
					<div class="checkout-del-type checkout-delivery active">Доставка</div>
					<div class="checkout-del-type checkout-pickup">Самовывоз</div>
				</div>
				
				<div class="checkout-del-tab active">
					
					<div class="radio-type" >
						<input type="radio" class="rd" name="delivery" value="1" checked=""><label class=""> Курьерская доставка по Москве и Московской области </label>
						
					</div>
					
					<div class="radio-type" >
						<input type="radio" class="rd" name="delivery" value="5"><label class=""> Доставка до терминала транспортных компаний (бесплатно) </label>
						
					</div>
					
					<div class="radio-type" >
						<input type="radio" class="rd" name="delivery" value="4"><label class=""> PickPoint </label>
						
					</div>
					
					<div class="form-group">
						<label for="checkout-address">Адрес доcтавки</label>
						<input type="text" class="form-control" id="checkout-address" placeholder="Адрес доcтавки" required>
					  </div>
				
				</div>
				<div class="checkout-del-tab">
					
					<div class="form-group">
						<label for="choose-stock">Выберите пунк самовывоза</label>
						<select class="slimselect" id="choose-stock">
						</select>
					  </div>
					  
					  
					<div id="checkout-map"></div>
					
					
				</div>
				
			</div>
	
			<div class="checkput-option pb-5 mb-2">
				<div class="h2 pb-4">Способ оплаты</div>
				<div class="radio-type" >
					<input type="radio" class="rd" name="payment" value="1" checked=""><label class=""> Наличный расчет </label>
					<small class="text-muted"> Вы можете оплатить заказ наличными при получении. </small>
				</div>
				
				<div class="radio-type" >
					<input type="radio" class="rd" name="payment" value="5"><label class=""> Банковской картой </label>
					<small class="text-muted"> Вы можете оплатить заказ банковской картой при получении. Принимаются банковские карты Visa, MasterCard, Maestro и Мир. </small>
				</div>
				
				<div class="radio-type" >
					<input type="radio" class="rd" name="payment" value="4"><label class=""> Безналичный расчёт для юридических лиц </label>
					<small class="text-muted"> Оплата по безналичному расчёту для юридических лиц. Все заказы по безналичному расчёту оплачиваются по 100%-й предоплате. </small>
				</div>
			</div>
	
			<div class="checkput-option pb-5 mb-2">
				<div class="h2 pb-4">Данные покупателя</div>
				<div class="form-group">
					<label for="checkout-name">Ваше имя</label>
					<input type="text" class="form-control" id="checkout-name" placeholder="Ваше имя" required>
				  </div>
				  
				 <div class="form-group">
					<label for="checkout-email">Email</label>
					<input type="email" class="form-control" id="checkout-email" placeholder="Ваш email" required>
				  </div> 
				 
				<div class="form-group">
					<label for="checkout-tel">Телефон</label>
					<input type="tel" class="form-control" id="checkout-tel" placeholder="+7 (999) 999 99 99" required>
				  </div> 	
				
				<div class="form-group">
					<label for="checkout-comm">Комментарий</label>
					<textarea class="form-control" id="checkout-comm" rows="3"></textarea>
				  </div>
				  
				<div class="form-group">  
				  <input type="checkbox" class="ch agree"  data-target="#checkout-btn" checked=""><label class="text-muted">Я даю свое согласие на обработку моих персональных данных в соответствии с условиями <a href="#">пользовательского соглашения</a> и <a href="#">политики конфиденциальности</a></label>
				</div>
				
				  <button type="submit" id="checkout-btn" class="btn btn-default btn-lg mt-3">Оформить заказ</button>
			</div>
		
		</div>
		<div class="d-none d-lg-block col-lg-5 col-xl-4" id="sidebar">
		
			<div class="checkout-info">
				<div class="row align-items-center">
					<div class="col-6"><div class="h2">Ваш заказ</div></div>
					<div class="col-6 text-right"><a href="cart.html">Изменить <i class="far fa-pencil"></i></a></div>
				</div>
				<table class="table mt-3">
					<tr>
						<td>Товары (3)</td>
						<td class="text-right"><span class="price">13 000.99</span></td>
					</tr>
					<tr>
						<td>Доставка</td>
						<td class="text-right">бесплатно</td>
					</tr>
					<tr class="checkout-info-total">
						<td class="text-right" valign="middle"><b>Итого</b></td>
						<td class="text-right"><span class="price">1 113 000.99</span></td>
					</tr>
				</table>
			</div>
		
		</div>
	</div>
	
	
	
</div>

