
<div class="container">
	<div id="contacts-map"></div>
	<div class="bg-gray mb-5  mt-4 p-4">

		<h1 class="pt-2 pb-4">Контакты</h1>
		<ul class="contacts-list ">
			    <li ><a href="#" data-id="2" class="selcity">Москва</a></li>
				<li ><a href="#" data-id="15" class="">Санкт-Петербург</a></li>
				<li ><a href="#" data-id="17" class="">Архангельск</a></li>
				<li ><a href="#" data-id="18" class="">Белгород</a></li>
				<li ><a href="#" data-id="19" class="">Волгоград</a></li>
				<li ><a href="#" data-id="3" class="">Вологда</a></li>
				<li ><a href="#" data-id="20" class="">Воронеж</a></li>
				<li ><a href="#" data-id="4" class="">Екатеринбург</a></li>
				<li ><a href="#" data-id="5" class="">Казань</a></li>
				<li ><a href="#" data-id="6" class="">Калининград</a></li>
				<li ><a href="#" data-id="21" class="">Калуга</a></li>
				<li ><a href="#" data-id="7" class="">Киров</a></li>
				<li ><a href="#" data-id="8" class="">Краснодар</a></li>
				<li ><a href="#" data-id="22" class="">Липецк</a></li>
				<li ><a href="#" data-id="10" class="">Минеральные Воды</a></li>
				<li ><a href="#" data-id="11" class="">Мурманск</a></li>
				<li ><a href="#" data-id="12" class="">Нижний Новгород</a></li>
				<li ><a href="#" data-id="31" class="">Новороссийск</a></li>
				<li ><a href="#" data-id="23" class="">Оренбург</a></li>
				<li ><a href="#" data-id="24" class="">Ростов-на-Дону</a></li>
				<li ><a href="#" data-id="13" class="">Пермь</a></li>
				<li ><a href="#" data-id="14" class="">Самара</a></li>
				<li ><a href="#" data-id="30" class="">Саратов</a></li>
				<li ><a href="#" data-id="25" class="">Сочи</a></li>
				<li ><a href="#" data-id="16" class="">Тверь</a></li>
				<li ><a href="#" data-id="26" class="">Уфа</a></li>
				<li ><a href="#" data-id="27" class="">Ярославль</a></li>
		</ul>
	
	</div>
</div>


<div class="container">
	
	
	
	<div class="d-lg-flex region-info">
		
	</div>
	
	
	<div class="h2 pb-4 pt-5">Обратная связь</div>
	
	<form action="" class="feedback mb-5" method="post">
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="form-group"><label for="exampleInputEmail1">Ваше имя</label> <input type="text" name="name" class="form-control" placeholder="Ваше имя" required="" /></div>
				<div class="form-group"><label for="exampleInputEmail1">Ваша почта</label> <input type="email" name="clemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваша почта" /></div>
				<div class="form-group"><label for="exampleInputEmail1">Контактный телефон</label> <input type="tel" name="phone" class="form-control" placeholder="7 (999) 999-99-99" required="" /></div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="form-group h-100"><label for="exampleFormControlTextarea1">Сообщение</label> <textarea class="form-control h-100" name="clmess" id="exampleFormControlTextarea1" rows="3"></textarea></div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="form-group">  
				  <input type="checkbox" class="ch agree"  data-target="#feedback-btn" checked=""><label class="text-muted">Я даю согласие на <a href="">обработку персональных данных</a></label>
				</div>
				<div class="form-group">
					<button id="feedback-btn" class="btn btn-default btn-submit feedback-submit">Отправить</button>
				</div>
			</div>
		</div>
	</form>

	
	
	
</div>

<div class="bg-gray pt-5 pb-5">
	<div class="container">
	<div class="h2 pb-4">Реквизиты</div>
	
	<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<th>Полное наименование</th>
				<td>Акционерное общество "ЛОНМАДИ"</td>
			</tr>
			<tr>
				<th>Сокращенное наименование</th>
				<td>АО "ЛОНМАДИ"</td>
			</tr>
			<tr>
				<th>Юридический адрес</th>
				<td>141441, Московская обл, Солнечногорский р-н, Елино д, Промышленная зона тер, владение № 1, строение 1</td>
			</tr>
			<tr>
				<th>ОГРН</th>
				<td>1025005682954</td>
			</tr>
			<tr>
				<th>ИНН</th>
				<td>7714095226</td>
			</tr>
			<tr>
				<th>КПП</th>
				<td>509950001</td>
			</tr>
			<tr>
				<th>ОКПО</th>
				<td>29228669</td>
			</tr>
			<tr>
				<th>ОКАТО</th>
				<td>46252816000</td>
			</tr>
			<tr>
				<th>Расчетный счет</th>
				<td>40702810538150102372</td>
			</tr>
			<tr>
				<th>Банк</th>
				<td>ПАО СБЕРБАНК</td>
			</tr>
			<tr>
				<th>БИК</th>
				<td>044525225</td>
			</tr>
		</tbody>
	</table>
	</div>

	</div>
</div>