


<div class="container pb-3 pb-lg-5">
	
	<div class="home-slider mb-4">
	  
	  
	  <div class="home-slider-item">
		<img src="/assets/img/sl2.jpg">
		<div class="home-slider-wrapper row align-items-center">
			<div class="home-slider-info col">
				<div class="home-slider-title">Бесплатная доставка</div>
				<div class="home-slider-desc">Бесплатная доставка запчастей и расходных материалов по Москве и Московской области до конца лета</div>
				<a href="#" title="" class="btn">Подробнее</a>
			</div>
		</div>
	  </div>
	  
	  <div class="home-slider-item">
		<img src="/assets/img/sl.jpg">
		<div class="home-slider-wrapper row align-items-center">
			<div class="home-slider-info col">
				<div class="home-slider-title">PickPoint</div>
				<div class="home-slider-desc">Забирайте заказ в PickPoint</div>
				<a href="#" title="" class="btn">Подробнее</a>
			</div>
		</div>
	  </div>
	  
	  
	  
	</div>

</div>

<div class="container pb-3 pb-lg-5">
	
	<div class="row">
	<div class="col-xl-9">
	<div class="home-tabs mb-3">
	
	<ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
		<li class="nav-item">
		  <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Бренды</a>
		</li>
		<li class="nav-item">
		  <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Типы техники</a>
		</li>
	</ul>
	<div id="content" class="tab-content" role="tablist">
		<div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
		  <div class="card-header" role="tab" id="heading-A">
			  <a data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
				Бренды
			  </a>
		  </div>
		  <div id="collapse-A" class="collapse show" role="tabpanel" data-parent="#content" aria-labelledby="heading-A">
			<div class="card-body">
				
				<ul class="three-columed-ul">
					<li><a href="#">JCB</a></li>
					<li><a href="#">SENNEBOGEN</a></li>
					<li><a href="#">POWERSCREEN</a></li>
					<li><a href="#">Gomaco</a></li>
					<li><a href="#">Deutz</a></li>
					<li><a href="#">ISUZU</a></li>
					<li><a href="#">Cummins</a></li>
					<li><a href="#">TEREX-DEMAG</a></li>
					<li><a href="#">Hyundai</a></li>
					<li><a href="#">VOLVO</a></li>
					<li><a href="#">Hitachi</a></li>
					<li><a href="#">Caterpillar</a></li>
					<li><a href="#">KOMATSU</a></li>
					<li><a href="#">DOOSAN</a></li>
					<li><a href="#">FUCHS+ATLAS</a></li>
					<li><a href="#">RM-TEREX</a></li>
					<li><a href="#">PERKINS</a></li>
					<li><a href="#">GROVE</a></li>
					<li><a href="#">HARTL</a></li>
					<li><a href="#">Shantui</a></li>
					<li><a href="#">Case</a></li>
					<li><a href="#">BELL</a></li>
					<li><a href="#">UMG</a></li>
					<li><a href="#">NEW HOLLAND</a></li>
					<li><a href="#">MCCLOSKEY</a></li>
					<li><a href="#">SANDVIK</a></li>
					<li><a href="#">TEREX-FINLAY</a></li>
				</ul>
				
				
			</div>
		  </div>
		</div>
		
		   <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
			  <div class="card-header" role="tab" id="heading-B">
			   
				  <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
					Типы техники
				  </a>
				
			  </div>
			  <div id="collapse-B" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-B">
				<div class="card-body">
					
						<ul class="three-columed-ul">
							<li><a href="#">Автобетононасосы</a></li>
							<li><a href="#">Автогрейдеры</a></li>
							<li><a href="#">Асфальтоукладчики</a></li>
							<li><a href="#">Бетоноукладчики</a></li>
							<li><a href="#">Бульдозеры</a></li>
							<li><a href="#">Грохоты</a></li>
							<li><a href="#">Двигатель</a></li>
							<li><a href="#">Дизельные генераторы</a></li>
							<li><a href="#">Дизельные компрессоры</a></li>
							<li><a href="#">Дробилки конусные</a></li>
							<li><a href="#">Дробилки роторные</a></li>
							<li><a href="#">Дробилки щековые</a></li>
							<li><a href="#">Катки асфальтовые</a></li>
							<li><a href="#">Катки грунтовые</a></li>
							<li><a href="#">Краны автомобильные</a></li>
							<li><a href="#">Краны внедорожные короткобазные</a></li>
							<li><a href="#">Краны вседорожные гидравлические</a></li>
							<li><a href="#">Краны гусеничные</a></li>
							<li><a href="#">Краны колесные</a></li>
							<li><a href="#">Краны портовые</a></li>
							<li><a href="#">Краны экскаваторы (Драглайны )</a></li>
							<li><a href="#">Лесозаготовительные машины</a></li>
							<li><a href="#">Мини-погрузчики гусеничные</a></li>
							<li><a href="#">Мини-погрузчики колесные</a></li>
							<li><a href="#">Мини-экскаваторы гусеничные</a></li>
							<li><a href="#">Общее. Товары (Запчасти)</a></li>
							<li><a href="#">Перегружатели</a></li>
							<li><a href="#">Погрузчики вилочные высокой проходимости</a></li>
							<li><a href="#">Погрузчики вилочные промышленные</a></li>
							<li><a href="#">Погрузчики телескопические</a></li>
							<li><a href="#">Погрузчики фронтальные</a></li>
							<li><a href="#">Промывочное оборудование</a></li>
							<li><a href="#">Профилировщики</a></li>
							<li><a href="#">Самосвалы шарнирно-сочлененные</a></li>
							<li><a href="#">Текстурировщики</a></li>
							<li><a href="#">Тракторы (фастраки)</a></li>
							<li><a href="#">Узлы и агрегаты</a></li>
							<li><a href="#">Финишеры</a></li>
							<li><a href="#">Харвестеры</a></li>
							<li><a href="#">Экскаваторы гусеничные</a></li>
							<li><a href="#">Экскаваторы колесные</a></li>
							<li><a href="#">Экскаваторы-погрузчики</a></li>
							<li><a href="#">Элеваторы и конвейеры</a></li>
							</ul>
				 
				  
				</div>
			  </div>
			</div>
	</div>
	
	</div>
	</div>
	<div class="col-xl-3">
		<a class="to" href="#">Запчасти для технического обслуживания</a>
	</div>
	</div>

</div>

<div class="container pt-3 pb-3 pt-lg-5 pb-lg-5">
	<h2 class="bold mb-5">Каталог запчастей для спецтехники</h2>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000171.jpg"></a>
				<a title="" href="#">Гидравлика</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000173.jpg"></a>
				<a href="#">Двигатели</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3  mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000299.jpg"></a>
				<a href="#">Кузов</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3  mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000178.jpg"></a>
				<a href="#">Механизм поворота</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000176.jpg"></a>
				<a href="#">Пальцы и втулки</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000217.jpg"></a>
				<a href="#">Ремкомплекты</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000179.jpg"></a>
				<a href="#">Смазочные материалы</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000251.jpg"></a>
				<a href="#">Сувенирная продукция</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000180.jpg"></a>
				<a href="#">Трансмиссия</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000181.jpg"></a>
				<a href="#">Фильтры</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000182.jpg"></a>
				<a href="#">Ходовая часть</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000183.jpg"></a>
				<a href="#">Шины и диски</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000172.jpg"></a>
				<a href="#">Электрооборудование</a>	
			</div>			
		</div>
		<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
			<div class="category-item">
				<a title="" href="#"><img alt="" src="https://shop.lonmadi.ru/uploads/cat/ctg000000177.jpg"></a>
				<a href="#">Крепеж</a>	
			</div>			
		</div>
	</div>
</div>

<div class="container pt-3 pb-3 pt-lg-5 pb-lg-5">
			<div class="row justify-content-end home-about">
				<div class="col-xl-9">
					
					<h1 class="mb-5">Интернет-магазин запчастей ЛОНМАДИ</h1>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
</div>