{{> breadcrumbs }} 
<div class="bg-gray h-100">

	<div class="container">
	<h1 class="pt-5 pb-3">Личный кабинет</h1>
	
		<div class="row">
			
			<div class="col-xl-3" id="sidebar">
				{{>lk-menu}}
			</div>
			<div class="col-xl-9">
				
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				
				<div class="h3 pb-4">Ваша техника</div>
				
				<p>В данном разделе возможно найти интересующую Вас запчасть по VIN номеру техники. Для этого нужно добавить технику, а затем нажать на VIN номер. По нему будет осуществлена загрузка Каталога продукции, подходящей к Вашей конкретной машине.</p>
				
				<div class="text-right"><div data-fancybox data-src="#add-new-vin" class="btn btn-default">Добавить технику</div></div>
				
				<div class="table-responsive">
				<table class="table mt-3 table-hover user-table">
				<tr>
					<th>Номер VIN</th>
					<th>Модель</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td><a class="d-block" href="/vin-group.html">jcb426z0h01232463</a></td>
					<td>426</td>
					<td class="text-right">
					<a title="Редактировать" class="d-inline-block pr-3" href=""><i class="far fa-edit"></i></a>
					<a title="Удалить" class="d-inline-block" href=""><i class="far fa-trash-alt"></i></a>
					</td>
				</tr>
				<tr>
					<td><a class="d-block" href="/vin-group.html">GEO155WRCC1755998</a></td>
					<td>3CX</td>
					<td class="text-right">
					<a title="Редактировать" class="d-inline-block pr-3" href=""><i class="far fa-edit"></i></a>
					<a title="Удалить" class="d-inline-block" href=""><i class="far fa-trash-alt"></i></a>
					</td>
				</tr>
				</table>
				</div>
				
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>


<div class="d-none">
	<div id="add-new-vin">
		<div class="h2 pb-3">Добавить технику</div>
		<form>
		<div class="form-group">
					<label for="vin-name">Номер VIN*</label>
					<input type="text" class="form-control" id="vin-name" placeholder="jcb426z0h01232463" required="">
				  </div>
		<div class="form-group">
					<label for="model-name">Модель</label>
					<input type="text" class="form-control" id="model-name" placeholder="426" required="">
				  </div>
		<div class="form-group">
					<button type="submit" class="btn btn-default w-100">Добавить</button>
				  </div>	
		</form>			
	</div>			
</div>