{{> breadcrumbs }} 



	<div class="container pb-5">
	<h1 class="pt-5 pb-5">Заказ запaсных частей</h1>
	
	<div class="parts-loader">
	
	<div class="step step-1 active ">	
		
		<div class="h3">Добавьте запасные части</div>
			
		
		<div class="step-content">
			<div class="step-wrapper">
				
				<ul class="my-tabs step-tabs">
					<li><a href="#tab1" class="active">Из файла</a></li>
					<li><a href="#tab2">Вручную</a></li>
				</ul>
				
				<div id="tab1" class="my-tabs-content">
					<div id="drop">
						<i class="fal fa-file-upload"></i>
						
						<div class="file-name">
							Перетащите файл со списком запчастей сюда
							<br/><small class="text-muted">или</small>
						</div>
						<input type="file" name="xlfile" id="xlf" />
						<label class="btn btn-default mt-2 upload-file" for="xlf">Выберите файл</label>
					</div>
					<div class="row pb-3">
						<div class="col-md-6"><span class="format">Форматы xls, xlsx</span></div>
						<div class="col-md-6 text-right"><a href="https://shop.lonmadi.ru/order/file/lonmadi-form.html">Образец файла</a></div>
					</div>	
				</div>
				<div id="tab2" class="my-tabs-content d-none">
					
					
					<table role="table" class="r-table mb-4">
					  <thead role="rowgroup">
						<tr role="row">
						  <th role="columnheader">Бренд</th>
						  <th role="columnheader">Артикул</th>
						  <th role="columnheader">Наименование</th>
						  <th role="columnheader">Модель</th>
						  <th role="columnheader">Количество</th>
						  <th role="columnheader">Оригинал/Аналог</th>
						  <th role="columnheader">&nbsp;</th>
						</tr>
					  </thead>
					  <tbody role="rowgroup">
						<tr role="row" class="tr-clone">
						  <td role="cell"><input class="form-control" type="text" name="brand[]"></td>
						  <td role="cell"><input class="form-control" type="text" name="article[]" required></td>
						  <td role="cell"><input class="form-control" type="text" name="title[]"></td>
						  <td role="cell"><input class="form-control" type="text" name="model[]"></td>
						  <td role="cell"><input class="form-control " type="number" name="quantity[]" value="1" required></td>
						  <td role="cell"><select class="form-control" name="oran[]"><option value="1" selected>Оригинал</option><option value="0">Аналог</option></select></td>
						  <td role="cell">
							<i class="fas fa-plus-square tr-clone-add"></i>
							<i class="fas fa-minus-square tr-clone-remove disabled"></i>
						  </td>
						</tr>
					  </tbody>
					</table>
					<button class="btn btn-default" onclick="nextStep()" >Продолжить</button>
					
				</div>
				
				
			</div>
			<div class="validated-info">
				<b>Способ загрузки</b>: <span id="upload-method">вручную</span>
			</div>
		</div>	
	</div>
	
	<div class="step step-1-1 ">	
		
				<div class="h3">Получите расчет</div>
		
		<div class="step-content">
			<div class="validated-info">
			
			<div class="cart-header d-none d-md-block">
					<div class="row">
						<div class="col-md-5 col-sm-5 text-center">Товары</div>
						<div class="col-md-3 col-sm-3 text-center">Количество</div>
						<div class="col-md-4 col-sm-3 text-center">Сумма</div>
						
					</div>
				</div>
				<div class="cart-item ordered">
					<div class="row">
							<div class="col-md-5 ">
								<div class="title pb-2"><a href="#">Распределитель вспомогательного оборудования</a></div>
								<div class="product-item-artnum pb-2">Артикул: 01148677 </div>
								<span class="avaliable">в наличие</span>
							</div>
							<div class="col-md-3 text-md-center">
								1 шт
							</div>
							<div class="col-md-4 pt-3 pt-md-0 text-center"><span class="price">114 300,00</span></div>
					</div>
				</div>
				<div class="cart-item ordered not-found">
						<div class="row">
							<div class="col-md-5 ">
								<div class="title pb-2">Позиция не найдена</div>
								<div class="product-item-artnum pb-2">Артикул: ddfgdfg</div>
							</div>
							<div class="col-md-3 text-md-center">
								1 шт
							</div>
							<div class="col-md-4 pt-3 pt-md-0 text-center">--</div>
						
						</div>
				</div>
				<div class="cart-item ordered">
						<div class="row">
							<div class="col-md-5 ">
								<div class="title pb-2"><a href="#">Масло гидравлическое JCB HP46 (25л)</a></div>
								<div class="product-item-artnum pb-2">Артикул: 01148677</div>
								<span class="order-only">на заказ 4-60 дн</span>
							</div>
							<div class="col-md-3 text-md-center">
								1 шт
							</div>
							<div class="col-md-4 pt-3 pt-md-0 text-center"><span class="price">280,00</span></div>
						
						</div>
				</div>
				<div class="row pb-5 pt-4 cart-total ordered align-items-center">
					<div class="col-lg-4 text-right text-lg-left pb-4 pb-lg-0">
					
					</div>
					<div class="col-lg-8 text-right pr-5">
							<span>Итого:</span> <span class="price">1 123 000,00</span>
					</div>
				</div>
			
			
			<button class="btn btn-default" onclick="nextStep()" >Продолжить</button>
			</div>
		</div>		
	</div>
	
	<div class="step step-2 ">	
		
		<div class="h3">Заполните данные покпуателя</div>
		
		<div class="step-content">
			<div class="validated-info">
			
			<div class="form-group">
					<label for="checkout-name">Ваше имя</label>
					<input type="text" class="form-control" id="checkout-name" placeholder="Ваше имя" required>
				  </div>
				  
				 <div class="form-group">
					<label for="checkout-email">Email</label>
					<input type="email" class="form-control" id="checkout-email" placeholder="Ваш email" required>
				  </div> 
				 
				<div class="form-group">
					<label for="checkout-tel">Телефон</label>
					<input type="tel" class="form-control" id="checkout-tel" placeholder="+7 (999) 999 99 99" required>
				  </div> 	
				
				<div class="form-group">
					<label for="checkout-comm">Комментарий</label>
					<textarea class="form-control" id="checkout-comm" rows="3"></textarea>
				  </div>
			
			<button class="btn btn-default" onclick="nextStep()" >Продолжить</button>
			
			</div>
		</div>		
	</div>
	
	<div class="step step-3  ">	
		<div class="h3">Оформите заказ</div>
		<div class="step-content">
			<div class="validated-info">
			
			<button type="submit" id="checkout-btn" class="btn btn-default btn-lg mt-3">Оформить заказ</button>
			
			</div>
		</div>		
	</div>	
	</div>





				
		
	
	</div>
	
<!--
<script src="https://oss.sheetjs.com/sheetjs/shim.js"></script>
<script src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>!-->
<script src="/assets/js/excel-reader.js"></script>
