{{> breadcrumbs }} 
<div class="bg-gray h-100">

	<div class="container">
	<h1 class="pt-5 pb-3">Личный кабинет</h1>
	
		<div class="row">
			
			<div class="col-xl-3" id="sidebar">
				{{>lk-menu}}
			</div>
			<div class="col-xl-9">
				
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				
				<div class="row">
					<div class="col-md-6"><div class="h3 pb-4">Заказ №185 от 20.05.2020</div></div>
					<div class="col-md-6 text-right"><div class="btn btn-reset" id="order-repeat"><i class="far fa-undo"></i>&nbsp; Повторить заказ</div></div>
				</div>
				
				<div class="cart-header d-none d-md-block">
					<div class="row">
						<div class="col-md-5 col-sm-5 text-center">Товары</div>
						<div class="col-md-3 col-sm-3 text-center">Количество</div>
						<div class="col-md-4 col-sm-3 text-center">Сумма</div>
						
					</div>
				</div>
	
				<div class="cart-item ordered">
					<div class="row">
							<div class="col-md-5 ">
								<div class="row">
									<div class="col-md-4 text-md-center">
										<a href="#" class="d-block "><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000002233.jpg"></a>
									</div>
									<div class="col-md-8 ">
										<div class="title pb-2"><a href="#">Распределитель вспомогательного оборудования</a></div>
										<div class="product-item-artnum pb-2">Артикул: 01148677 </div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3 text-md-center">
								
								1 шт
							</div>
							<div class="col-md-4 pt-3 pt-md-0 text-center"><span class="price">114 300,00</span></div>
							
						</div>
				</div>
	
				<div class="cart-item ordered">
						<div class="row">
							<div class="col-md-5 ">
								<div class="row">
									<div class="col-md-4 text-md-center">
										<a href="#" class="d-block "><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000000032.jpg"></a>
									</div>
									<div class="col-md-8 ">
										<div class="title pb-2"><a href="#">Масло гидравлическое JCB HP46 (25л)</a></div>
										<div class="product-item-artnum pb-2">Артикул: 01148677</div>
									
									</div>
								</div>
							</div>
							<div class="col-md-3 text-md-center">
								
								1 л
							</div>
							<div class="col-md-4 pt-3 pt-md-0 text-center"><span class="price">280,00</span></div>
						
						</div>
				</div>
				
				
				<div class="row pb-5 pt-4 cart-total ordered align-items-center">
					<div class="col-lg-4 text-right text-lg-left pb-4 pb-lg-0">
						<div data-fancybox data-src="#payment" class="btn btn-default">Отплатить заказ</div>
						<!--<div class="alert alert-success mb-0 text-center" role="alert"><i class="fas fa-check"></i> Заказ оплачен</div>!-->
					</div>
					<div class="col-lg-8 text-right pr-5">
						
							<span>Итого:</span> <span class="price">1 123 000,00</span>
							
						
					</div>
				</div>
				
				
				<div class="h3 pb-4">Информация о покупателе</div>
				
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Имя:</b></div>
						<div class="col-md-9">Вася Пупкин</div>
				</div>
				</div>
				
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Email:</b></div>
						<div class="col-md-9">tt@tt.ru</div>
				</div>
				</div>
				
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Телефон:</b></div>
						<div class="col-md-9">8 (999) 999-99-99</div>
				</div>
				</div>
				
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Комментарий:</b></div>
						<div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
				</div>
				</div>
				
				<div class="h3 pb-4 pt-5">Параметры доставки и оплаты</div>
				
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Способ доставки:</b></div>
						<div class="col-md-9">Доставка до терминала транспортных компаний (бесплатно)</div>
				</div>
				</div>
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Адрес доставки:</b></div>
						<div class="col-md-9">614065, г. Пермь, Шоссе Космонавтов, 316В</div>
				</div>
				</div>
				<div class="buyer-info mb-3 p-3">
				<div class="row">
						<div class="col-md-3"><b>Способ оплаты:</b></div>
						<div class="col-md-9">отложенный платёж</div>
				</div>
				</div>
				
				
				<a class="d-block pt-5 pb-5" href="/lk.html"><i class="fal fa-long-arrow-left"></i> Вернуться к списку заказов</a>
				
				
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>


<div class="d-none">
	<div id="payment">
	<div class="h2 pb-3">Способ оплаты</div>
				<div class="history-order p-3">
					<span class="d-block">Банковские карты</span>
					<img src="/assets/img/pay-cards.png">
				</div>
				<div class="history-order p-3">
					<span class="d-block">Яндекс.Деньги</span>
					<img src="/assets/img/pay-yandex.png">
				</div>
	</div>			
</div>