{{> breadcrumbs }} 
<div class="bg-gray h-100">

	<div class="container">
	<h1 class="pt-5 pb-3">Личный кабинет</h1>
	
		<div class="row">
			
			<div class="col-xl-3" id="sidebar">
				{{>lk-menu}}
			</div>
			<div class="col-xl-9">
				
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				
					<div class="h3 pb-4">Редактировать профиль</div>
					
					<form class="">
				  <div class="form-group">
					<label for="">Ваше имя:</label>
					<input type="text" class="form-control" id=""  value="Вася Пупкин">
				  </div>
				   <div class="form-group">
					<label for="exampleInputEmail1">Электронный адрес (e-mail):</label>
					<input type="email" class="form-control" id="exampleInputEmail1" value="ss@ss.ru">
				  </div>
				  <div class="form-group">
					<label for="">Мобильный телефон для связи:</label>
					<input type="tel" class="form-control" id="" placeholder="+7 (999) 999 99 99" value="+7 (999) 999 99 99">
				  </div>
				 <div class="form-group">
					<label for="">Дополнительный телефон для связи:</label>
					<input type="tel" class="form-control" id="" placeholder="+7 (999) 999 99 99" value="+7 (999) 999 99 99">
				  </div>
				  <div class="row">
					<div class="col-md-6"><button data-fancybox data-src="#change-password" class="btn btn-reset mt-2">Изменить пароль</button></div>
					<div class="col-md-6 text-right"><button type="submit" class="btn btn-default mt-2">Сохранить изменения</button></div>
				  </div>
				</form>
				
				</div>
			
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				<div class="h3 pb-4 ">Адреса доставки</div>
				
				<div class="text-right"><div data-fancybox data-src="#add-new-address" class="btn btn-default">Добавить адрес</div></div>
				<div class="table-responsive">
				<table class="table mt-3 table-hover user-table">
	
				<tr>
					
					<td>443009, Самарская область, г. Самара , ул. Калинина , дом № 1</td>
					<td class="text-right">
					<a title="Редактировать" class="d-inline-block pr-3" href=""><i class="far fa-edit"></i></a>
					<a title="Удалить" class="d-inline-block" href=""><i class="far fa-trash-alt"></i></a>
					</td>
				</tr>
				<tr>
					
					<td>450591, Респ. Башкортостан, Уфимский р-н, Чесноковка с, Школьная ул, 2/2</td>
					<td class="text-right">
					<a title="Редактировать" class="d-inline-block pr-3" href=""><i class="far fa-edit"></i></a>
					<a title="Удалить" class="d-inline-block" href=""><i class="far fa-trash-alt"></i></a>
					</td>
				</tr>
				</table>
				</div>
				
				</div>
				
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				<div class="h3 pb-4 ">Ваши контрагенты</div>
				<div class="text-right"><div data-fancybox data-src="#add-new-agent" class="btn btn-default">Добавить контрагента</div></div>
				<div class="table-responsive">
				<table class="table mt-3 table-hover user-table">
	
				<tr>
					
					<td>Пупкин Василий Петрович</td>
					<td class="text-right">
					<a title="Редактировать" class="d-inline-block pr-3" href=""><i class="far fa-edit"></i></a>
					<a title="Удалить" class="d-inline-block" href=""><i class="far fa-trash-alt"></i></a>
					</td>
				</tr>
				</table>
				</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>


<div class="d-none">
	<div id="change-password">
		<div class="h2 pb-3">Изменить пароль</div>
		<form>
		<div class="form-group position-relative">
					<label for="">Старый пароль</label>
					<input type="password" id="old-password" class="form-control" required="">
					<div class="password-eye" toggle="#old-password"><i class="far fa-eye"></i></div>
				  </div>
		<div class="form-group position-relative">
					<label for="">Новый пароль</label>
					<input type="password" id="new-password" class="form-control" required="">
					<div class="password-eye" toggle="#new-password"><i class="far fa-eye"></i></div>
				  </div>
		<div class="form-group">
					<button type="submit" class="btn btn-default w-100">Изменить пароль</button>
				  </div>	
		</form>			
	</div>

<div id="add-new-address">
		<div class="h2 pb-3">Добавить новый адрес</div>
		<form>
		<div class="form-group position-relative">
					<label for="">Адрес</label>
					<input type="text" class="form-control" required="">
					
				  </div>
	
		<div class="form-group">
					<button type="submit" class="btn btn-default w-100">Добавить</button>
				  </div>	
		</form>			
	</div>

	<div id="add-new-agent">
		<div class="h2 pb-3">Добавить контрагента</div>
		<form>
		<div class="form-group position-relative">
					<label for="">Контрагент</label>
					<input type="text" class="form-control" required="">
					
				  </div>
	
		<div class="form-group">
					<button type="submit" class="btn btn-default w-100">Добавить</button>
				  </div>	
		</form>			
	</div>
	
</div>