{{> breadcrumbs }} 
<div class="bg-gray h-100">

	<div class="container">
	<h1 class="pt-5 pb-3">Личный кабинет</h1>
	
		<div class="row">
			
			<div class="col-xl-3" id="sidebar">
				{{>lk-menu}}
			</div>
			<div class="col-xl-9">
				
				<div class="bg-white p-3 p-sm-5  mb-5 mt-4">
				<div class="h3 pb-4">Ваши заказы</div>
				
					<div class="row lk-table-header mb-3 d-none d-lg-flex">
						<div class="col-md-3"><a class="active sortable desc" href="">Дата заказа</a></div>
						<div class="col-md-3"><a class="sortable" href="">Статус заказа</a></div>
						<div class="col-md-3"><a class="sortable" href="">Статус оплаты</a></div>
						<div class="col-md-3"><a class="sortable" href="">Сумма</a></div>
					</div>
					
					<div class="history-order">
						<a href="/lk-order.html" class="row align-items-center">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Дата заказа:</div>
								<strong>№185</strong>
								<span class="date">11 мая 2020 г.</span>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Статус:</div>
								В обработке
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Статус оплаты:</div>
								Оплачен
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Сумма:</div>
								<span class="price">12 345.11</span>
							</div>
						</a>
					</div>
					
					<div class="history-order">
						<a href="/lk-order.html" class="row align-items-center">
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Дата заказа:</div>
								<strong>№185</strong>
								<span class="date">11 мая 2020 г.</span>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Статус:</div>
								В обработке
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Статус оплаты:</div>
								<span class="text-muted">Не оплачен<span>
							</div>
							<div class="col-12 col-sm-6 col-md-3">
								<div class="ho-title">Сумма:</div>
								<span class="price">121 345.11</span>
							</div>
						</a>
					</div>
					
					<div class="text-center mt-4"><a class="btn btn-load-more"><b>Загрузить еще</b><span class="lds-ellipsis"><span></span><span></span><span></span><span></span></span></a></div>
					
				</div>
			
			</div>
		
		</div>
	
	</div>
	
</div>

