
<div class="bg-gray h-100">
<div class="container pt-5 pb-5">

	<div class="row justify-content-center">
		<div class="col-xl-5 col-lg-7 ">
			
			<div class="bg-white shadow">
			<h1 class="pt-5 pb-5 text-center">Вход в личный кабинет</h1>
			
			<form action="lk.html" class="pb-3 pl-3 pr-3 pb-md-5 pl-md-5 pr-md-5">
			  <div class="form-group">
				<label for="exampleInputEmail1">Почта или номер мобильного:</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
			  </div>
			  <div class="form-group position-relative">
				<label for="password-field">Пароль:</label>
				<input type="password" class="form-control" id="password-field" placeholder="">
				<div class="password-eye" toggle="#password-field"><i class="far fa-eye"></i></div>
			  </div>
			  <div class="form-group">  
				  <input type="checkbox" class="ch " checked=""><label >Запомнить меня</label>
				</div>
			  <button type="submit" class="btn btn-default w-100 mt-2">Войти</button>
			  
			  <div class="text-center pt-4"><a href="/password-reset.html" class="underline">Забыли пароль?</a></div>
			</form>
			</div>
			
			<div class="text-center pt-4"><a href="/registration.html" class="underline">Нет аккаунта? Зарегистрируйтесь</a></div>
			
		</div>
	</div>
	
</div>
</div>
