
<div class="bg-gray h-100">
<div class="container pt-5 pb-5">

	<div class="row justify-content-center">
		<div class="col-xl-5 col-lg-7 ">
			
			<div class="bg-white shadow">
			<h1 class="pt-5 pb-5 text-center">Восстановление пароля</h1>
			
			<form class="pb-3 pl-3 pr-3 pb-md-5 pl-md-5 pr-md-5">
			
			  <div class="form-group">
				<label for="exampleInputEmail1">Электронный адрес (e-mail):</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
				 <small id="emailHelp" class="form-text text-muted">Введите, пожалуйста, свой email. Мы направим Вам сссылку на страницу изменения пароля.</small>
			  </div>
		
			  <button type="submit" id="register-btn" class="btn btn-default w-100 mt-2">Восстановить</button>
			  
			  
			</form>
			</div>
			
			<div class="text-center pt-4">
				Не получается восстановить пароль?
				<br/>Позвоните нам, мы быстро решим вашу проблему — <a href="">8 (800) 222-69-36</a>
			</div>
			
		</div>
	</div>
	
</div>
</div>
