
<div class="bg-gray h-100">
<div class="container pt-5 pb-5">

	<div class="row justify-content-center">
		<div class="col-xl-5 col-lg-7 ">
			
			<div class="bg-white shadow">
			<h1 class="pt-5 pb-5 text-center">Регистрация</h1>
			
			<form class="pb-3 pl-3 pr-3 pb-md-5 pl-md-5 pr-md-5">
			  <div class="form-group">
				<label for="">Ваше имя:</label>
				<input type="text" class="form-control" id=""  placeholder="">
			  </div>
			  <div class="form-group">
				<label for="">Мобильный телефон для связи:</label>
				<input type="tel" class="form-control" id="" placeholder="+7 (999) 999 99 99" placeholder="">
			  </div>
			  <div class="form-group">
				<label for="exampleInputEmail1">Электронный адрес (e-mail):</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
			  </div>
			  <div class="form-group position-relative">
				<label for="password-field">Пароль:</label>
				<input type="password" class="form-control" id="password-field" placeholder="">
				<div class="password-eye" toggle="#password-field"><i class="far fa-eye"></i></div>
			  </div>
			  <div class="form-group">  
				  <input type="checkbox" class="ch agree" data-target="#register-btn" checked=""><label class="text-muted">Я даю свое согласие на обработку моих персональных данных в соответствии с условиями <a href="#">пользовательского соглашения</a> и <a href="#">политики конфиденциальности</a></label>
				</div>
			  <button type="submit" id="register-btn" class="btn btn-default w-100 mt-2">Зарегистрироваться</button>
			  
			  
			</form>
			</div>
			
			<div class="text-center pt-4"><a href="/login.html" class="underline">Уже зарегистрированы?</a></div>
			
		</div>
	</div>
	
</div>
</div>
