{{> breadcrumbs }} 

<div class="container ">


<h1 class="pt-5 pb-5">Регулятор клапана 02111961</h1>

<!-- if unavailable 
<div class="alert alert-danger" role="alert">Внимание! Артикул <b>4003/2007</b> снят с производства. Товар доступен к заказу по новому номеру <a href="#"><b>4003/2017</b></a></div>
 !-->

<div class="row product">
	<div class="col-lg-5 product-img">
		
		<div class="product-card-slider mb-2">
                   
            <div class="product-card-slider-item">
				<a href="https://shop.lonmadi.ru/uploads/img/big/00000003948.jpg" data-fancybox="card"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000003948.jpg" alt=""></a>  
            </div>
			<div class="product-card-slider-item">
				<a href="https://shop.lonmadi.ru/uploads/img/big/00000012480.jpg" data-fancybox="card"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000012480.jpg" alt=""></a>  
            </div>
			<div class="product-card-slider-item">
				<a href="https://shop.lonmadi.ru/uploads/img/big/00000015627.jpg" data-fancybox="card"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000015627.jpg" alt=""></a>  
            </div>
        
		</div>
		
		<div class="product-card-slider-thumbs">
                   
             <div class="product-card-slider-item m-2"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000003948.jpg" alt=""></div>
			 <div class="product-card-slider-item m-2"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000012480.jpg" alt=""></div>
			 <div class="product-card-slider-item m-2"><img src="https://shop.lonmadi.ru/uploads/img/prod/00000015627.jpg" alt=""></div>
                   
        </div>

	</div>
	<div class="col-lg-7 pl-lg-5">
	
		<div class="text-right">
			<div class="to-wish-list product-wish" data-in="Отложить" data-out="В избранном"><i data-toggle="tooltip" title="В избранное" data-in="В избранное" data-out="Товар в избаранном" class="far fa-heart"></i> <span>Отложить</span></div>
		</div>
		
		<div class="price-block">
		
		<div class="pb-3">
			<u class="d-inline-block product-item-price-old price">150 450.56</u>
			<span class="d-inline-block product-item-price price">101 390.00</span>
			<!--<div role="button" class="get-price mt-2">Узнать цену</div>!-->
		</div>
		<span class="avaliable d-block pb-3">в наличие</span>
			<div>
			<div class="d-inline-block" >
				<div class="counter_big_box">
					<button type="button" class="counter_big_ctrl minus">-</button>
					<input type="text" class="counter_big_input counter_input" value="1" data-min="1" data-max="99"> <!-- disabled if unavailable !-->
					<button type="button" class="counter_big_ctrl plus">+</button>
				</div>
			</div>
			<div class="d-inline-block" style="vertical-align:top" >
				<button class="btn btn-default product-item-buy">Купить</button> <!-- disabled if unavailable !-->
				<button class="btn btn-default product-item-buy in-cart d-none">Товар в корзине</button>
			</div>
			</div>
	</div>
		
		<div class="harak">
			<table>
				<tr>
					<td>Артикул</td>
					<td>02111961</td>
				</tr>
				<tr>
					<td>Бренд</td>
					<td><a href="">DEUTZ</a></td>
				</tr>
				<tr>
					<td>Категория</td>
					<td><a href="">Гидроклапаны</a></td>
				</tr>
				<tr>
					<td>Аналоги</td>
					<td>
						<a data-fancybox="" data-src="ajax-product.html" data-type="ajax" href="javascript:;">4003/2017</a>
						<br><a data-fancybox="" data-src="ajax-product.html" data-type="ajax" href="javascript:;">4003/2017</a>
						
						<div class="watch-all product-dop-watch" data-title="Аналоги для 02111961" data-url="ajax-analogs.html" data-article="02111961" >смотреть все</div>
					</td>
				</tr>
				<tr>
					<td>Применяемость</td>
					<td>
						3CX, 4CX, 5CX
						<br/>JS220, JS205
						
						<div class="watch-all product-dop-watch" data-title="Применяемость 02111961" data-url="ajax-usage.html" data-article="02111961" >смотреть все</div>
					</td>
				</tr>
			</table>
		</div>
	
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	<div class="text pt-5 pb-5">
	<p>Консистентная смазка JCB Special HP Grease - это смазка премиум-качества с противозадирными присадками, которая рекомендована для использования в тяжелых условиях эксплуатации, например, при высоких температурах, чрезмерных нагрузках и под регулярным воздействием воды.</p>

	<p>Сложный комплекс присадок сочетается с великолепными адгезионными свойствами и обеспечивает высокоэффективную круглогодичную защиту автомобильного, промышленного, сельскохозяйственного и землеройного оборудования, которое эксплуатируется в тяжелом режиме.</p>
	</div>
	</div>
</div>

	<div class="h2 pb-5">Рекомендуемые товары</div>
	<div class="row pb-5">
		<div class="col-12 mb-4 list-view">{{> product-item }}</div>
		<div class="col-12 mb-4 list-view">{{> product-item }}</div>
	</div>
	

</div>

<div class="bg-gray pt-5 pb-5">
	<div class="container">
	{{> last-seen }} 
	</div>
</div>