{{> breadcrumbs }} 


	<div class="container">
	<h1 class="pt-5 pb-3">JCBJW16DKK2799407</h1>
	<div class="h3 pb-5">COOLANT CIRCUIT ASSEMBLY EXPANSION TANK (Serial From: 18/01/2018)</div>
	
		<div class="row pb-5 flex-column-reverse flex-lg-row">
		
		<div class="col-lg-8 col-xl-7">
			
			<div class="cart-header d-none d-md-block">
			<div class="row">
				<div class="col-md-1">№</div>
				<div class="col-md-5">Название</div>
				<div class="col-md-3">Артикул</div>
				<div class="col-md-3">Цена</div>
			</div>
			</div>
			
			<div class="vin-tovar-item">
			<div class="row align-items-center">
				<div class="col-md-1 pb-2 pb-md-none"><strong><span class="d-md-none">№</span>4</strong></div>
				<div class="col-md-5 pb-2 pb-md-none">
					<a class="d-block" href="/tovar.html" target="_blank">Шайба М8 JCB</a>
					<span class="avaliable">в наличие</span>
				</div>
				<div class="col-md-3  pb-2 pb-md-non"><span class="d-md-none">Артикул: </span>1411/0003D</div>
				<div class="col-md-3">
					<div class="price">58.00</div>
					
									<div class="mt-2">
										<button class="btn btn-default product-item-buy">Купить</button>
										<div class="d-none">
											<div class="counter_box">
												<button type="button" class="counter_ctrl minus">-</button>
												<input type="text" maxlength="2" class="counter_input" value="1" data-min="1" data-max="99">
												<button type="button" class="counter_ctrl plus">+</button>
											</div>
											<button data-toggle="tooltip" title="Товар в корзине" class="btn btn-default product-item-buy in-cart"></button>
										</div>
									</div>
									
				</div>
			</div>
			</div>
			
			<div class="vin-tovar-item">
			<div class="row align-items-center">
				<div class="col-md-1 pb-2 pb-md-none"><strong><span class="d-md-none">№</span>6</strong></div>
				<div class="col-md-5 pb-2 pb-md-none">
					<a class="d-block" href="/tovar.html" target="_blank">Screw Set M8 x 70 1316/0316D JCB</a>
					<span class="order-only">на заказ 4-60 дн</span>
				</div>
				<div class="col-md-3  pb-2 pb-md-non"><span class="d-md-none">Артикул: </span>1316/0316D</div>
				<div class="col-md-3">
					<div class="get-price">Узнать цену</div>
					<div class="mt-2">
										<button class="btn btn-default product-item-buy">Купить</button>
										<div class="d-none">
											<div class="counter_box">
												<button type="button" class="counter_ctrl minus">-</button>
												<input type="text" maxlength="2" class="counter_input" value="1" data-min="1" data-max="99">
												<button type="button" class="counter_ctrl plus">+</button>
											</div>
											<button data-toggle="tooltip" title="Товар в корзине" class="btn btn-default product-item-buy in-cart"></button>
										</div>
									</div>
				</div>
			</div>
			</div>
		
		</div>
		<div class="col-lg-4 col-xl-5">
			<a data-fancybox href="https://shop.lonmadi.ru/uploads/img/nodes/189029.png" class="zoom-img d-block">
				<img src="https://shop.lonmadi.ru/uploads/img/nodes/189029.png">
			</a>
		</div>	
		
		</div>
		
		
		
		<div class="h2 pb-5">Другие узлы Cooling System</div>
		
		<div class="row pb-5">
			<div class="col-md-6 col-lg-3 mb-4">
				{{>vin-item}}
			</div>
			<div class="col-md-6 col-lg-3 mb-4">
				{{>vin-item}}
			</div>
			<div class="col-md-6 col-lg-3 mb-4">
				{{>vin-item}}
			</div>
			<div class="col-md-6 col-lg-3 mb-4">
				{{>vin-item}}
			</div>
		</div>
	
	</div>
	



