<div class="breadcrumbs">
    <div class="container pt-3 pb-3">
	<ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a href="/" itemprop="item">Главная</a>
			<meta itemprop="position" content="1" />
			<meta itemprop="name" content="Главная" />
		</li>
        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a href="#" itemprop="item">Каталог запчастей</a>
			<meta itemprop="position" content="2" />
			<meta itemprop="name" content="Каталог запчастей" />
        </li>
        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a href="#" itemprop="item">JCB</a>
			<meta itemprop="position" content="3" />
			<meta itemprop="name" content="JCB" />
        </li>
        <li itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="active">
			Масло
			<meta itemprop="position" content="5" />
			<meta itemprop="name" content="Масло" />
		</li>
    </ul>
	</div>
</div>		