<div class="header-mini-card">
			<div class="row">
				<div class="col-md-2 text-md-center">
					<a href="#" title=""><img alt="" src="https://shop.lonmadi.ru/uploads/img/cart/00000003948.jpg"></a>
				</div>
				<div class="col-md-7">
					<a href="#" class="title" title="">Регулятор клапана</a>
					<small class="text-muted">Артикул: 320/03511</small>
					<small class="text-muted">Бренд: JCB</small>
				</div>
				<div class="col-md-3">
					<div class="price">177,05</div>
					<!--<div class="avaliable">в наличии</div>!-->
					<div class="order-only">на заказ 3-7 дн.</div>
				</div>
			</div>
			</div>