<!--noindex--> 
 <div data-start-time="9" data-finish-time="18" class="infinity-call-button bottom-right animated">
	<a id="callInfinityCallback"><div class="call-back">
	<svg viewBox="0 0 24 24"><path fill="#ffffff" d="M15.5294118,24 L22.5882353,24 C23.3689412,24 24,23.3689412 24,22.5882353 L24,16.9411765 C24,16.1604706 23.3689412,15.5294118 22.5882353,15.5294118 L16.9411765,15.5294118 C16.1604706,15.5294118 15.5294118,16.1604706 15.5294118,16.9411765 L15.5294118,18.3529412 C9.88235294,18.3529412 5.736,14.0301176 5.64705882,8.47058824 L7.05882353,8.47058824 C7.83952941,8.47058824 8.47058824,7.83952941 8.47058824,7.05882353 L8.47058824,1.41176471 C8.47058824,0.631058824 7.83952941,0 7.05882353,0 L1.41176471,0 C0.632470588,0 0,0.631058824 0,1.41176471 L0,8.47058824 C0,17.0470588 6.95294118,24 15.5294118,24 L15.5294118,24 Z"></path></svg>
	</div></a>
  </div>


<div class="speech-bubble right">
	<div class="close-bubble"></div>
	<div class="call-to-action">Есть вопрос?</div>
	<button class="btn btn-primary show-bubble-form"><svg class="_28WaiF" viewBox="0 0 24 24"><path fill="#ccc" d="M16.6666667 14.5H13.5c-.4377917 0-.7916667.353875-.7916667.7916667v.7916666c-3.16666663 0-5.49179163-2.4240833-5.54166663-5.5416666h.79166666C8.396125 10.5416667 8.75 10.1877917 8.75 9.75V6.58333333c0-.43779166-.353875-.79166666-.79166667-.79166666H4.79166667c-.437 0-.79166667.353875-.79166667.79166666v3.95833337C4 15.3510417 7.89895833 19.25 12.7083333 19.25h3.9583334c.4377916 0 .7916666-.353875.7916666-.7916667v-3.1666666c0-.4377917-.353875-.7916667-.7916666-.7916667z"></path></svg> Оставьте телефон </button>
	<form  action="/feedback/infinity-submit/" method="post">
			<input type="hidden" name="FeedbackInfinity[title]" value="shop.lonmadi - название страницы">
					<div class="bubble-form"><input type="tel" name="FeedbackInfinity[incall_phone]" placeholder="+7 (000) 000 00 00" required=""></div>
					<input type="hidden" name="FeedbackInfinity[incall_callwhen]" value="now" />
					<button onclick="yaCounter18492052.reachGoal('callback_order'); return true;" class="btn btn-primary" class="btn btn-primary"><svg class="_28WaiF" viewBox="0 0 24 24"><path fill="#ccc" d="M16.6666667 14.5H13.5c-.4377917 0-.7916667.353875-.7916667.7916667v.7916666c-3.16666663 0-5.49179163-2.4240833-5.54166663-5.5416666h.79166666C8.396125 10.5416667 8.75 10.1877917 8.75 9.75V6.58333333c0-.43779166-.353875-.79166666-.79166667-.79166666H4.79166667c-.437 0-.79166667.353875-.79166667.79166666v3.95833337C4 15.3510417 7.89895833 19.25 12.7083333 19.25h3.9583334c.4377916 0 .7916666-.353875.7916666-.7916667v-3.1666666c0-.4377917-.353875-.7916667-.7916666-.7916667z"></path></svg> Жду звонка </button>				
	</form>		
	<div class="info">Мы перезвоним Вам в течение нескольких минут</div>
</div>


<div id="callback-hidden-wrapper" style="display:none;">


	<div id="infinityCallback">
	
		<div class="wrapper oprator1">
			
			<div class="call-to-action"><span>Оставьте свой номер,</span> и наши специалисты перезвонят Вам!</div>
			
			<form action="/feedback/infinity-submit/" method="post" >
				<input type="hidden" name="FeedbackInfinity[title]" value="shop.lonmadi - название страницы">
				<div class="form-group">
					<input type="text" name="FeedbackInfinity[infcall_name]" class="form-control" placeholder="Ваше имя">
				</div>
				<div class="form-group">
					<input type="tel" class="infinity-phone form-control" name="FeedbackInfinity[incall_phone]" placeholder="+7 (000) 000 00 00" required="">
				</div>
				<div class="form-group">
					
					<div class="choose">
						 <div class="choosetime" id="now">
							<label><input type="radio" name="FeedbackInfinity[incall_callwhen]" value="now" checked> Сейчас</label>
						 </div>
						 <div class="choosetime" id="opentime">
							 <label><input type="radio" name="FeedbackInfinity[incall_callwhen]" id="ontime" value="direct"> Точное время</label>
						</div>
					</div>
					
					<div class="time">
						<ul>
							<li>
							
							<div class="timercontainer">
								
								<input type="text" name="FeedbackInfinity[incall_hour]" maxlength="2" id="callTimeH"  value=""/ > : <input type="text" name="FeedbackInfinity[incall_min]" maxlength="2" id="callTimeM" value=""/ > 
								
								<div class="toggles hourup"><svg viewBox="0 0 16 16"><path d="M8,11 C7.80915461,11 7.61830923,10.9237057 7.47293872,10.7718957 L3,6.10081744 L4.05412256,5 L8,9.12066952 L11.9458774,5 L13,6.10081744 L8.52706128,10.7718957 C8.38169077,10.9237057 8.19084539,11 8,11 L8,11 Z"></path></svg></div>
								
								<div class="toggles hourdown"><svg viewBox="0 0 16 16"><path d="M8,11 C7.80915461,11 7.61830923,10.9237057 7.47293872,10.7718957 L3,6.10081744 L4.05412256,5 L8,9.12066952 L11.9458774,5 L13,6.10081744 L8.52706128,10.7718957 C8.38169077,10.9237057 8.19084539,11 8,11 L8,11 Z"></path></svg></div>
								
								<div class="toggles minup"><svg viewBox="0 0 16 16"><path d="M8,11 C7.80915461,11 7.61830923,10.9237057 7.47293872,10.7718957 L3,6.10081744 L4.05412256,5 L8,9.12066952 L11.9458774,5 L13,6.10081744 L8.52706128,10.7718957 C8.38169077,10.9237057 8.19084539,11 8,11 L8,11 Z"></path></svg></div>
								
								<div class="toggles mindown"><svg viewBox="0 0 16 16"><path d="M8,11 C7.80915461,11 7.61830923,10.9237057 7.47293872,10.7718957 L3,6.10081744 L4.05412256,5 L8,9.12066952 L11.9458774,5 L13,6.10081744 L8.52706128,10.7718957 C8.38169077,10.9237057 8.19084539,11 8,11 L8,11 Z"></path></svg></div>
							
							</div>
							
							</li>
							<li class="available">Мы можем позвонить <div id="calling"></div><small>*По Московскому времени</small></li>
						</ul>
					</div>
				
				<div class="form-group">
					<button onclick="yaCounter18492052.reachGoal('callback_order'); return true;" class="btn btn-primary" type="submit" class="btn btn-primary">
						<svg class="_28WaiF" viewBox="0 0 24 24"><path fill="#ffffff" d="M16.6666667 14.5H13.5c-.4377917 0-.7916667.353875-.7916667.7916667v.7916666c-3.16666663 0-5.49179163-2.4240833-5.54166663-5.5416666h.79166666C8.396125 10.5416667 8.75 10.1877917 8.75 9.75V6.58333333c0-.43779166-.353875-.79166666-.79166667-.79166666H4.79166667c-.437 0-.79166667.353875-.79166667.79166666v3.95833337C4 15.3510417 7.89895833 19.25 12.7083333 19.25h3.9583334c.4377916 0 .7916666-.353875.7916666-.7916667v-3.1666666c0-.4377917-.353875-.7916667-.7916666-.7916667z"></path></svg>
						Жду звонка
					</button>
				</div>
		
				
		
				</div>
			</form>
			
			<div class="agreement">
				Нажимая на кнопку, вы даете согласие на <a href="/user-agreement/" target="_blank">обработку персональных данных</a>
			</div>
		
		</div>
		
	</div>	
	
	

	<div id="js_infinity_result" class="text-feedback" style="display:none;">
		<div class="order-form__title">Заявка на обратный звонок принята</div>
		<p>Мы скоро Вам перезвоним</p>
	</div>


</div>
<!--/noindex-->