<div class="mini-item">
	<div class="row">
		<div class="col-md-3 text-center">
			<a href="#"><img src="https://shop.lonmadi.ru/uploads/img/cart/00000003948.jpg"></a>
		</div>
		<div class="col-md-5">
			<a href="#"><b>320/03511</b><br>Регулятор клапана</a>
		</div>
		<div class="col-md-4">
			<span class="price">177 234,05</span> 
			<a class="mini-delete" href="#"><i class="far fa-times"></i></a> 
		</div>	
	</div>	
</div>			