<a class="vin-item" href="/vin-tovar.html">
					<div class="img" style="background-image:url('https://shop.lonmadi.ru/uploads/img/nodes/187855.png')"></div>
					<div class="title">COOLING INSTALLATION ASSEMBLIES RADIATOR FOAM KIT (Serial From: 16/07/2015 To: 17/01/2018)</div>
				</a>