<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
	<link rel="stylesheet" href="{{root}}assets/css/libs/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/slick.css">
    <link rel="stylesheet" href="{{root}}assets/css/layout.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/pushbar.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/slimselect.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/pages.css">
	<link rel="stylesheet" href="{{root}}assets/css/cards.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/fontawesome.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/jquery.mmenu.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/jquery.fancybox.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/OverlayScrollbars.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/libs/jTippy.min.css">
	<link rel="stylesheet" href="{{root}}assets/css/infinity.css">
	
	
  </head>
<body>


<div class="page-content">
<div class="header">

<div class="header-top d-md-block">
	<div class="container">
		<div class="row">
			<div class="d-none d-lg-block col-lg-9 col-xl-7">
				<ul class="header-top-menu">
					<li><a href="#">О компании</a></li>
					<li><a href="#">Оплата</a></li>
					<li><a href="#">Доставка</a></li>
					<li><a href="#">Гарантия</a></li>
					<li><a href="#">Обмен и возврат</a></li>
					<li><a href="/contacts.html">Контакты</a></li>
					<li><i class="fal fa-percentage"></i> <a href="#"><strong>Акции</strong></a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-xl-5 text-right">
				<div class="d-inline-block pr-2 pr-xl-5"><a href="#" class="header-feedback"><span data-fancybox data-src="#feedback-modal">Обратная связь</span></a></div>
				<div class="d-inline-block"><a href="tel:88002226936" class="header-phone">8 (800) 222-69-36</a></div>
			</div>
		</div>
	</div>
</div>

<div class="container pt-4">
	<div class="row  align-items-center">
		<div class="col-12 col-sm-6 col-md-3 col-lg-5">
			<div class="row text-center text-sm-left align-items-center">
				<div class="col-12 col-lg-6 header-logo"><a href="/"><img alt="Онлайн-магазин запчастей ЛОНМАДИ / КВИНТМАДИ" src="/assets/img/logo.svg" width="200" height="56"></a></div>
				<div class="col-12 col-lg-6 d-sm-none d-lg-block"><small>Мультибрендовый интернет-магазин запчастей</small></div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-md-9 col-lg-7 pt-3 pt-sm-0 text-center text-sm-right">
			
			<a title="Поиск" class="d-sm-none header-icon header_search" id="search-mobile" href="#"><span>Поиск</span></a>
			<a title="Избранное" class="header-icon header_wishlist" href="#"><span>Избранное</span> <span class="header_count total_wishlist_products">0</span></a>	
			<a title="Корзина" class="header-icon header_cart cart-hover" href="/cart.html"><span>Корзина</span> <span class="header_count total_cart_products">0</span></a>
			<a title="Войти в кабинет" class="header-icon header_cabinet" href="/login.html"><span>Войти в кабинет</span></a>			

		</div>
	</div>
</div>

</div>

<div class="fixed-menu-wrapper">
<div class="fixed-menu">
<div class="container pt-3 pb-3 pt-sm-4 pb-sm-4" style="position:relative;">
<div class="row align-items-center">
<div class="col-12 col-sm-2 col-md-3 fixed-catalog">
	
	<div class="btn catalog-btn desc d-none d-lg-block">Каталог запчастей</div>
	<a rel="nofollow" href="#mobile-menu" class="btn catalog-btn mob"><span class="d-sm-none">Меню</span></a>
	
	<ul class="top-menu">
		<li class="submenu_arrow"><a href="#"><b>Запрос по VIN</b></a></li>
		<li class="submenu_arrow"><a href="#"><b>Каталог ТО</b></a></li>
		<li class="submenu_arrow has-subs"><a href="#"><b>Навесное оборудование</b></a>
			<ul class="top-submenu">
				<li><a href="#">Вспомогательное оборудование</a></li>
				<li><a href="#">Бурильное оборудование</a></li>
				<li><a href="#">Гидромолоты и пики</a></li>
				<li><a href="#">Грейферы</a></li>
				<li><a href="#">Грузозахватные приспособления </a></li>
				<li><a href="#">Ковши</a></li>
				<li><a href="#">Коммунальное оборудование</a></li>
				<li><a href="#">Сцепные устройства и стрелы</a></li>
				<li><a href="#">Трамбовочное и уплотнительное оборудование</a></li>
				<li><a href="#">Режущее оборудование</a></li>
			</ul>
		</li>		
		<li class="submenu_arrow has-subs"><a href="#">Гидравлика</a>
			<ul class="top-submenu">
				<li><a href="#">Гидроклапаны</a></li>
				<li><a href="#">Гидромоторы</a></li>
				<li><a href="#">Гидронасосы</a></li>
				<li><a href="#">Гидрораспределители</a></li>
				<li><a href="#">Ремкомплекты гидрооборудования</a></li>
				<li><a href="#">Гидроцилиндры</a></li>
				<li><a href="#">Гидроаккумуляторы</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Двигатели</a>
			<ul class="top-submenu">
				<li><a href="#">Блоки цилиндров</a></li>
				<li><a href="#">Гильзо-погршневые группы</a></li>
				<li><a href="#">Головки блока</a></li>
				<li><a href="#">Двигатели в сборе</a></li>
				<li><a href="#">Коленчатые валы</a></li>
				<li><a href="#">Турбокомпрессоры</a></li>
				<li><a href="#">Натяжители и приводные ремни</a></li>
				<li><a href="#">Система охлаждения</a></li>
				<li><a href="#">Впускная и выпускная системы</a></li>
				<li><a href="#">Навесное оборудование двигателя</a></li>
				<li><a href="#">Система смазки</a></li>
				<li><a href="#">Теплообменники</a></li>
				<li><a href="#">Теплообменники</a></li>
				<li><a href="#">Топливная аппаратура</a></li>
				<li><a href="#">Компрессоры воздушные</a></li>
				<li><a href="#">Маховики и сцепление</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Кузов</a>
			<ul class="top-submenu">
				<li><a href="#">Система управления</a></li>
				<li><a href="#">Инструменты</a></li>
				<li><a href="#">Зеркала и стекла</a></li>
				<li><a href="#">Кузовные детали</a></li>
				<li><a href="#">Тормозная система</a></li>
				<li><a href="#">Замки и ручки открывания</a></li>
				<li><a href="#">Кронштейны крепления</a></li>
				<li><a href="#">Информационные наклейки и логотипы</a></li>
				<li><a href="#">Элементы кабины</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Механизм поворота и другие полезные штуки</a>
			<ul class="top-submenu">
				<li><a href="#">Редуктор поворота</a></li>
				<li><a href="#">Опорно-поворотное устройство</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Пальцы и втулки</a>
			<ul class="top-submenu">
				<li><a href="#">Пальцы</a></li>
				<li><a href="#">Втулки</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Ремкомплекты</a>
			<ul class="top-submenu">
				<li><a href="#">Уплотнительные кольца</a></li>
				<li><a href="#">Прокладки</a></li>
				<li><a href="#">Трубки и РВД</a></li>
				<li><a href="#">Сальники</a></li>
				<li><a href="#">Муфты и адаптеры</a></li>
				<li><a href="#">Подшипники</a></li>
				<li><a href="#">Регулировочные пластины и шайбы</a></li>
				<li><a href="#">Краны</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Смазочные материалы</a>
			<ul class="top-submenu">
				<li><a href="#">Антифриз</a></li>
				<li><a href="#">Масло гидравлическое</a></li>
				<li><a href="#">Смазки консистентные</a></li>
				<li><a href="#">Масло моторное</a></li>
				<li><a href="#">Масло трансмиссионное</a></li>
				<li><a href="#">Присадки</a></li>
				<li><a href="#">Краски</a></li>
				<li><a href="#">Прочая автохимия</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Сувенирная продукция</a>
			<ul class="top-submenu">
				<li><a href="#">Аксессуары</a></li>
				<li><a href="#">Блокноты</a></li>
				<li><a href="#">Книги</a></li>
				<li><a href="#">Кружки</a></li>
				<li><a href="#">Масштабные модели</a></li>
				<li><a href="#">Верхняя одежда</a></li>
				<li><a href="#">Сумки и рюкзаки</a></li>
				<li><a href="#">Электроника</a></li>
				<li><a href="#">Головные уборы</a></li>
				<li><a href="#">Футболки и поло</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Трансмиссия</a>
			<ul class="top-submenu">
				<li><a href="#">Редукторы хода</a></li>
				<li><a href="#">Крестовины</a></li>
				<li><a href="#">Карданы</a></li>
				<li><a href="#">Гидротрансформаторы</a></li>
				<li><a href="#">Валы</a></li>
				<li><a href="#">Бортовые передачи</a></li>
				<li><a href="#">КПП в сборе</a></li>
				<li><a href="#">Ведущие мосты</a></li>
				<li><a href="#">Диски фрикционные</a></li>
				<li><a href="#">Рулевое управление</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Фильтры</a>
			<ul class="top-submenu">
				<li><a href="#">Фильтры топливные</a></li>
				<li><a href="#">Доп. оборудование для фильтров</a></li>
				<li><a href="#">Фильтры гидравлические</a></li>
				<li><a href="#">Фильтры воздушные</a></li>
				<li><a href="#">Фильтры вентиляции кабины</a></li>
				<li><a href="#">Фильтры масляные</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Ходовая часть</a>
			<ul class="top-submenu">
				<li><a href="#">Башмаки</a></li>
				<li><a href="#">Болты и гайки</a></li>
				<li><a href="#">Гусеницы в сборе</a></li>
				<li><a href="#">Звездочка, сегмент</a></li>
				<li><a href="#">Катки опорные</a></li>
				<li><a href="#">Катки поддерживающие</a></li>
				<li><a href="#">Колесо направляющее</a></li>
				<li><a href="#">Механизм натяжения</a></li>
				<li><a href="#">Цепи гусеничные</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Шины и диски</a>
			<ul class="top-submenu">
				<li><a href="#">Доп. Оборудование для колес</a></li>
				<li><a href="#">Диски</a></li>
				<li><a href="#">Камеры</a></li>
				<li><a href="#">Шины ДСТ</a></li>
				<li><a href="#">Колеса в сборе</a></li>
				<li><a href="#">Шины ПТО</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Электрооборудование</a>
			<ul class="top-submenu">
				<li><a href="#">Генераторы</a></li>
				<li><a href="#">Датчики</a></li>
				<li><a href="#">Стартеры</a></li>
				<li><a href="#">Аккумуляторы</a></li>
				<li><a href="#">Общее</a></li>
				<li><a href="#">Органы управления и приборы</a></li>
				<li><a href="#">Светотехника</a></li>
				<li><a href="#">Система отопления и кондиционирования</a></li>
				<li><a href="#">Стеклоомыватели и стеклоочистители</a></li>
				<li><a href="#">Электропроводка</a></li>
				<li><a href="#">Блоки управления</a></li>
				<li><a href="#">Переключатели и кнопки</a></li>
				<li><a href="#">Предохранители и реле</a></li>
				<li><a href="#">Соленоиды</a></li>
			</ul>
		</li>
		<li class="submenu_arrow has-subs"><a href="#">Крепеж</a>
			<ul class="top-submenu">
				<li><a href="#">Болты и шпильки</a></li>
				<li><a href="#">Гайки</a></li>
				<li><a href="#">Стопоры</a></li>
				<li><a href="#">Хомуты</a></li>
				<li><a href="#">Шайбы и гроверы</a></li>
				<li><a href="#">Прочие крепежи</a></li>
			</ul>
		</li>
	</ul>
	
</div>
<div class="d-none d-sm-block col-sm-10 col-md-9 fixed-search">
	
	<div class="search-mobile">
	<div class="text-right pt-2 pb-2 d-sm-none"><i class="fas fa-times search-mobile-close"></i></div>
	<form class="header-search use-custom-select" method="GET" action="" autocomplete="off">
		<input type="search" id="main-search" placeholder="Поиск по артикулу" data-article-title="Поиск по артикулу" data-vin-title="Поиск по VIN-номеру" data-name-title="Поиск по названию детали" name="q" required>
		<select name="search-param" data-target="#main-search" class="custom-select" id="search-type">
			<option value="article">Артикул</option>
			<option value="vin">VIN-номер</option>
			<option value="name">Название</option>
		</select>
		<button class="btn header-submit" type="submit">Найти</button>
		
		<div class="header-search-helper">
			<div id="srch-wrapper">
			{{> header-mini-card}} 
			{{> header-mini-card}} 
			{{> header-mini-card}} 
			{{> header-mini-card}} 
			
			<div class="text-center header-search-helper-all">Смотреть все</div>
			</div>
		</div>
	</form>
	</div>
	
</div>
<div class="col-md-2 text-right fixed-cart d-none">
	<a class="header-icon header_cart cart-hover" href="#"><span>Корзина</span><span class="header_count total_cart_products">0</span></a>
</div>					
</div>

<div class="mini-cart">
						<div class="mini-header">Корзина</div>
						<div class="mini-content" id="mini-cart-content" >
							{{> mini-item}} 
							{{> mini-item}} 
							{{> mini-item}} 
							{{> mini-item}} 
							{{> mini-item}} 
						</div>	
						<div class="mini-footer">
							<div class="row align-items-center">
								<div class="col-md-6">
									<span class="d-block">Итог</span>
									<span class="d-inline-block price">122 134</span>
								</div>
								<div class="col-md-6 text-right"><a href="/cart.html" class="btn btn-default">Перейти в корзину</a></div>
							</div>
						</div>
				</div>
					
</div>
</div>
</div>

<nav id="mobile-menu">
		<ul>
		<li>
			<a href="#"><span>Гидравлика</span></a>
			<ul>
				<li><a href="#">Гидрокалапаны</a></li>
			</ul>
		</li>
		<li class="m-cab"><a href="/cabinet">Личный кабинет</a></li>
		<li class="m-cart"><a href="/cart">Корзина </a></li>			
		</ul>
	</nav>

{{> body}}

</div>

<div class="footer js-footer">
    <div class="container">
        <div class="row">
		<div class="col-md-4 ">

            <div class="footer-logo">
				<a href="/">
					<img alt="ЛОНМАДИ / КВИНТМАДИ" src="/assets/img/logo_foot.svg" width="200" height="56" layout="responsive">
				</a>
            </div>

           <div class="footer-descriptor">Мультибрендовый интернет-магазин запчастей для строительной техники</div>

			<ul class="social-list">
				<li>
					<a href="https://www.instagram.com/lonmadi/" title="Instagram" rel="nofollow" target="_blank">
						<i class="fab fa-instagram"></i> 
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/lonmadi/" title="Facebook" rel="nofollow" target="_blank">
						<i class="fab fa-facebook-square"></i>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/lonmadi" title="Youtube" rel="nofollow" target="_blank">
						<i class="fab fa-youtube"></i>
					</a>
				</li>
				<li>
					<a href="https://vk.com/jcblonmadi" title="Вконтакте" rel="nofollow" target="_blank">
						<i class="fab fa-vk"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/jcbLONMADI" title="Twitter" rel="nofollow" target="_blank">
						<i class="fab fa-twitter-square"></i>
					</a>
				</li>
			</ul>

           

        </div>
        <div class="col-md-8 ">
			
			
			<div class="row">
				<div class="d-none d-lg-block col-lg-4">
					<ul class="footer-menu d-none d-lg-block">
					   <li><a href="#">О компании</a></li>
					   <li><a href="#">Оплата</a></li>
					   <li><a href="#">Доставка</a></li>
					   <li><a href="#">Гарантия</a></li>
					   <li><a href="#">Обмен и возврат</a></li>
					   <li><a href="#">Контакты</a></li>
					   <li><a href="#">Акции</a></li>
					</ul>
				</div>
				<div class="col-lg-8">
					<div class="row">
						<div class="col-md-12">
							
							<small>Подпишитесь на рассылку - новости, новинки, поступления!</small>
							<form id="subscribe" action="" method="post">
								<input placeholder="Введите свой email" type="email" name="" required>
								<button type="submit" class="btn">Подписаться</button>
							</form>
						
						
						</div>
						<div class="col-md-12 col-lg-6">
							<ul class="footer-menu d-none d-lg-block">
							   <li><a href="#">Каталог запчастей</a></li>
							   <li><a href="#">Каталог ТО</a></li>
							   <li><a href="#">Навесное оборудование</a></li>
							   <li><a href="#">Запрос по VIN</a></li>
							</ul>
						</div>
						<div class="col-md-12 col-lg-6">
							<a class="footer-icon footer-phone" href="tel:88002226936"> 8 (800) 222-69-36</a>
							<a class="footer-icon footer-mail" href="mailto:support-shop@lonmadi.ru">support-shop@lonmadi.ru</a>
							<a class="footer-icon footer-address" href="#">МО, Солнечногорский р-н, д. Елино, территория Промышленная зона, вл. 1, стр. 1</a>
						</div>
					</div>
				</div>
			</div>

        </div>

		</div>
    </div>
    <div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">© АО ЛОНМАДИ / КВИНТМАДИ, 2020</div>
            <div class="col-md-6 col-sm-12">
                <div class="pol text-md-right"><a title="Политика конфиденциальности" href="#">Политика конфиденциальности</a> <a title="Пользовательское соглашение" href="#">Пользовательское соглашение</a></div>
            </div>
        </div>
    </div>
	</div>
</div>


<!--<a href="#" id="back-to-top" title="Вверх"><i class="fas fa-arrow-up"></i></a>!-->

<img class="jivo" src="/assets/img/jivo.png">
<img class="jivo-open d-none" src="/assets/img/jivo-open.png">

<div class="d-none">
{{> infinity}} 
	
	<!-- Форма узнать цену !-->
	<div id="get-price-modal">
		
		<div class="h2 pb-3 text-center">Узнать цену</div>
			
				<form id="get-price-modal-form" data-path="/form?id=2" action="" method="post">
					<div class="form-group" name="name"><label for="name">Ваше имя</label> <input type="text" name="name" class="form-control" required="required" value="" /> <span class="help-block"></span></div>
					<div class="form-group" name="phone"><label for="phone">Ваш телефон</label> <input type="tel" placeholder="+7 (999) 999 99 99" name="phone" class="form-control" required="required" value="" /> <span class="help-block"></span></div>
					<div class="form-group">  
					  <input type="checkbox" class="ch agree" data-target="#get-price-modal-btn" checked=""><label class="text-muted">Я даю согласие на <a rel="nofollow" target="_blank" href="#">обработку персональных данных</a></label>
					</div>
			
					<input type="hidden" class="get-price-modal-value" name="tema" value="Узнать цену" /> 
					<div class="form-group pt-3"><button id="get-price-modal-btn" class="btn btn-default w-100 text-center">Отправить</button></div>
				</form>
		
	</div>
	
	
	<!-- Форма обратной связи !-->
	
	<div id="feedback-modal">
		
		<div class="h2 pb-3 text-center">Обратная связь</div>
			
				<form id="get-price-modal-form" data-path="/form?id=2" action="" method="post">
					<div class="form-group" name="name"><label for="name">Ваше имя</label> <input type="text" name="name" class="form-control" required="required" value="" /> </div>
					<div class="form-group" name="phone"><label for="phone">Ваш телефон</label> <input type="tel" placeholder="+7 (999) 999 99 99" name="phone" class="form-control" required="required" value="" /> </div>
					<div class="form-group" name="email"><label for="phone">Ваш email</label> <input type="email" placeholder="" name="email" class="form-control" required="required" value="" /> </div>
					<div class="form-group" name="message"><label for="phone">Ваше сообщение</label> <textarea class="form-control" rows="3"></textarea> </div>
					<div class="form-group">  
					  <input type="checkbox" class="ch agree" data-target="#feedback-modal-btn" checked=""><label class="text-muted">Я даю согласие на <a rel="nofollow" target="_blank" href="#">обработку персональных данных</a></label>
					</div>
			
					<input type="hidden" class="get-price-modal-value" name="tema" value="Обратная связь" /> 
					<div class="form-group pt-3"><button id="feedback-modal-btn" class="btn btn-default w-100 text-center">Отправить</button></div>
				</form>
		
	</div>
	
	
	<!-- Модальное окно при успешной ajax-отпрвке формы  
		
		$.fancybox.close(); - закрываем текущее 
		$.fancybox.open({ src: '#success-modal'});  - вызываем упех
		
	!-->
	
	<div id="success-modal" class="text-center">
		<i class="far fa-check-circle pb-3"></i>
		<div class="h3 pb-3 ">Сообщение успешно отправлено!</div>
		<p>Наш менеджер свяжется с Вами в ближайшее время.</p>
	</div>
	
</div>

<section data-pushbar-id="mypushbar1" data-pushbar-direction="right" class="pushy">
	<div class="pushbar-title"><span></span><i class="fas fa-chevron-right" data-pushbar-close></i></div>	
	<div class="pushbar-content"></div>	
</section>

<script src="{{root}}assets/js/libs/jquery-3.4.1.min.js"></script>
<script src="{{root}}assets/js/libs/bootstrap.min.js"></script>
<script src="{{root}}assets/js/libs/placeholder.js"></script>
<script src="{{root}}assets/js/libs/jquery.mmenu.js"></script>
<script src="{{root}}assets/js/libs/jquery.fancybox.min.js"></script>
<script src="{{root}}assets/js/libs/slick.min.js"></script>
<script src="{{root}}assets/js/libs/jquery.overlayScrollbars.min.js"></script>
<script src="{{root}}assets/js/libs/jTippy.min.js"></script>
<script src="{{root}}assets/js/libs/js.cookie.js"></script>
<script src="{{root}}assets/js/libs/ResizeSensor.min.js"></script>
<script src="{{root}}assets/js/libs/theia-sticky-sidebar.min.js"></script>
<script src="{{root}}assets/js/libs/pushbar.min.js"></script>
<script src="{{root}}assets/js/libs/slimselect.min.js"></script>
<script src="{{root}}assets/js/libs/jquery.zoom.min.js"></script>
<script src="{{root}}assets/js/scripts.js"></script>
<script src="{{root}}assets/js/infinity.js"></script>
<script src="{{root}}assets/js/checkout-map.js"></script>
<script src="{{root}}assets/js/contacts-map.js"></script>
</body>
</html>
